/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "nib";
@import "stylus/mixin.styl";	//mixin ya creados
@import "stylus/variable.styl"; //todas la variables del diseño y colores tamaños y otros
@import "stylus/animations.styl"; //todas la variables del diseño y colores tamaños y otros
@import "stylus/estructura.styl";	//TODOS LOS ESTILOS DEL SITIO
