@import 'nib'

//BANNER
@keyframes atenuar_in {
    0% {
        opacity 0
    }
    100% {
        opacity 1
    } 
}

@keyframes atenuar_out {
    0% {
        opacity 1
    }
    100% {
        opacity 0
    } 
}

@keyframes desph_in { 
    0% {
        transform translateX(100%)
        opacity 1
    }
    100% {
        transform translateX(0px)
        opacity 1
    } 
}
    
@keyframes desph_out { 
    0% {
        transform translateX(0px)
        opacity 1
    }
    100% {
        transform translateX(-100%)
        opacity 1
    } 
}

@keyframes menuDown { 
     
    0% {
        transform translateY(-15px)
        opacity 0
    }
    100% {
        transform translateY(0px)
        opacity 1
    } 
}