
//colors
$gray= #666666
$grayLigth= #fafafa
$grayDark= #fafafa
$blue= #5897fb
$black= #263238
$bgColor= transparent

//font-size
$text_p= 14px
$text_h1= 32px
$text_h2= 28px
$text_h3= 24px
$text_h4= 18px
$text_h5= 16px
$text_h6= 12px
$text_sm= 10px

//text
$fontFamily = 'arial , sans-serif'
$textColor= $black
$textColorBold= #000
$textGray= $gray
$fontSize= $text_p

//dimensiones y fomra
$wrapper = 960px
$rad= 4px
$paddingBox= 20px

$screen-xs= 480px
$screen-sm= 768px
$screen-md= 992px